<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwnu.mybatis.chap03.sub02.using_xml.model.dao.DepartmentMapper">
    <resultMap id="departmentResultMap" type="com.gwnu.mybatis.chap03.sub02.using_xml.model.dto.DepartmentDto">
        <id column="dept_id" property="departmentId" />
        <result column="dept_name" property="departmentName" />
    </resultMap>

    <select id="selectAllDepartments" resultMap="departmentResultMap">
        select *
        from tbl_department
    </select>

    <insert id="insertNewDepartment" parameterType="com.gwnu.mybatis.chap03.sub02.using_xml.model.dto.DepartmentDto">
        insert into tbl_department
        values(null, #{ departmentName })
    </insert>
</mapper>